* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

h1 {
  color: darkblue;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div > .ele {
  background-color: aliceblue;
  padding: 5px 15px;
}

span > i {
  background-color: green;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  display: flex;
}

.parent {
  width: 70%;
  place-content: center;
}
